.modal {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    padding: 10px;
}

h1 {
    font-size: 35px;
}

.modal h1 {
    padding-bottom: 10px;
}

.modal p {
    padding-bottom: 10px;
}

@media (max-width: 760px) {
    h1 {
        font-size: 25px;
    }
}
