.cart__image-block {
    height: 430px;
    text-align: center;
    margin-bottom: 10px;
}

.cart__image {
    /*width: 100%;*/
    height: 100%;
}

.cart__image.span {
    display: block;
    background-color: darkgray;
}

@media (max-width: 1024px) {
    .cart__image-block {
        height: 450px;
    }
}

@media (max-width: 760px) {
    .cart__image-block {
        height: 510px;
    }
}

@media (max-width: 450px) {
    .cart__image-block {
        height: 350px;
    }
}
