.input-container {
    display: flex;
    justify-content: flex-end;
}

.input-container__icon {
    position: absolute;
    color: white;
    min-width: 50px;
    padding: 12px 15px;
}

input {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #F85163;
    background-color: rgba(3, 3, 6, 1);
    color: #ffffff;
    font-size: 15px;
    transition: all .2s;
}

input[type="text"]:focus {
    border-bottom: 3px solid rgb(247, 65, 83);
    background-color: rgba(3, 3, 6, 0.70);
}

@media (max-width: 450px) {
    .input-container__icon {
        padding: 4px 15px;
    }
    input[type="text"] {
        font-size: 10px;
        padding: 10px 15px;
    }

}
